.title-container {
    position: relative;
}

.title {
    color: #445626;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.title-icon {
    position: absolute;
    width: 50px;
    top: 10px;
    left: -75px;
}