.section {
    padding: 80px 0;
}

.home-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.app-logo {
    width: 360px;
    margin: 0 auto 30px;
}

.home-caption {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
}

.home-sub-caption {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.home-banner-title {
    color: white;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.home-banner-subtitle {
    font-family: Gabelisa, serif;
    font-size: 130px;
    line-height: 130px;
}

.section-container {
    padding: 80px 40px;
}

.section-content {
    color: #445626;
    font-size: 22px;
    line-height: 2;
    letter-spacing: 0.09375rem;
}

.mission-leaf {
    position: relative;
    right: -75px;
    float: right;
    width: 40%;
    shape-outside: url('../../assets/images/MissionLeaf.png');
}

.mission-growth {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.mission-growth span {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    vertical-align: center;
}

.mission-growth .ampersand {
    font-family: Gabelisa, serif;
    font-size: 113px;
    line-height: 113px;
    vertical-align: center;
}

.mission-growing {
    font-family: 'Gabelisa', serif;
    font-size: 118px;
    letter-spacing: 0;
}

.mission-extend {
    font-size: 30px;
    letter-spacing: 0.15rem;
    margin-bottom: 80px;
}

.find-button {
    display: inline-block;
    background-color: white;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
}

.about-banner {
    position: relative;
    box-shadow: 0 6px 9px 0 rgba(94, 94, 94, 0.6);
}

.about-banner-leaf {
    position: absolute;
    bottom: -140px;
    height: 140px;
    right: 12%;
}

.inline-divider {
    height: 60px;
}

.diversity-leaf {
    position: relative;
    left: -75px;
    float: left;
    width: 50%;
    shape-outside: url('../../assets/images/DiversityLeaf.png');
}