.home-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.app-logo {
    width: 360px;
    margin: 0 auto 30px;
}

.home-caption {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
}

.home-sub-caption {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.home-banner-title {
    color: white;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.home-banner-subtitle {
    font-family: Gabelisa, serif;
    font-size: 130px;
    line-height: 130px;
}