.social-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #445626;
    height: 75px;
    padding: 0 36px;
    color: white;
}

.social-icon {
    font-size: 24px;
    margin-right: 20px;
}

.social-icon:last-child {
    margin-right: 0;
}

@media screen and (max-width: 991px) {
    .social-container {
        height: 60px;
    }
}

@media screen and (max-width: 479px) {
    .social-container {
        height: 48px;
    }

    .social-icon {
        font-size: 20px;
    }
}