.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    padding: 0 36px;
    color: white;
    background-color: #445626;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container.mobile {
    justify-content: space-between;
}

.social-container {
    display: flex;
    align-items: center;
}

.social-icon {
    font-size: 24px;
    margin-right: 20px;
}

.social-icon:last-child {
    margin-right: 0;
}

.drawer-container {
    padding: 30px;
}

.drawer-title {
    display: flex;
    align-items: center;
    color: #445626;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.drawer-title img {
    display: inline-block;
    margin-right: 15px;
}

.drawer-nav-item {
    padding: 10px 12px;
    margin-bottom: 10px;
}

.drawer-nav-item.active {
    background-color: #7C9D45;
}

.drawer-nav-item.active .nav-text {
    color: white;
}

.nav-text {
    color: #445626;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .header-container {
        height: 60px;
    }
}

@media screen and (max-width: 991px) {
    .header-container {
        padding: 0 25px;
    }
}

@media screen and (max-width: 767px) {
    .drawer-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .drawer-nav-item {
        padding: 7px 10px;
    }

    .nav-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .header-container {
        height: 48px;
        padding: 0 15px;
    }

    .drawer-title {
        font-size: 16px;
    }

    .nav-text {
        font-size: 12px;
    }

    .social-icon {
        font-size: 20px;
    }
}
