@font-face {
  font-family: 'Gabelisa';
  src: local('Gabelisa'), url('./assets/fonts/Gabelisa.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

p {
  margin: 0 auto;
  letter-spacing: 3px;
}